* {
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
  /* border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#msgBox{
	background: #fff url(/images/settings_32.svg) 15px no-repeat;
	background-position: center; 
	margin-left: 3%;
	margin-top:1%;
	height: 100%;
    width: 10%;
    border: none;
}
#modal{
	position: fixed;
	width:0%;
	height:100%;
	background-color: gray;
	float:left;
	z-index: 1;
	visibility: hidden;
	-webkit-transition-property: width, visibility; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
	transition-property: width, visibility;
    transition-duration: 0.5s;
}
#modalHead{
	height: 55px;
	padding-left: 4px;
	background: black url(/images/logoW.png) no-repeat;
	background-position: 10%; 
	background-size: 53% 36%;
	-webkit-box-shadow: 0px 3px 9px 1px white;
	-moz-box-shadow: 0px 3px 9px 1px white;
	box-shadow: 0px 3px 9px 1px white;
}
.modalOptions{
	background-color: white; 
	color: black;
	height: 40px;
	border: 1px solid black;
	padding: 10px 0 0 0;
}
#modalBody a:nth-child(even) .modalOptions{background-color: #4CAF50}

.ng-enter.ng-leave {
	position:relative;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.5s;
}
.ng-enter {
	position:relative;
  left:100%;
}
.ng-enter.ng-enter-active {
	position:relative;
  left:0;
}
.ng-leave.ng-leave-active {
	position:relative;
  left:-100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body{
	margin:0;
}

header{
	position: fixed;
	height: 10%;
	background-color: #FFFFFF;
	color: black;
	text-align: center;
	font-family: gotLight;
	font-size:180%;
	background: #fff url(/images/logo1.png) center no-repeat;
	border-bottom: 1px solid black;
	background-size: 25% 50%;
	-webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
}
/* TODO */

#content{
	height:80%;
	background-color: white;
}

form{
	height: 85%;
	text-align: center;
	   /*border: 1px solid red;*/
}

form input{
	width: 75%;
	height: 12%;
	margin: 15px;
}

#submit{
	border-radius: 50%;
	width: 25%;
	height: 23%; 
}

h3{
	text-align:left;
}

#otherContent{
	background-color: red;
}


.pet{
	overflow:auto; 
	height: 62px;
	display: inline-block;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 3px;
}
.petMensaje{
	font-size: 90%;
	color:gray;
}
.petName{
	display: inline-block;
	margin:20 0 0 10;
	padding: 10 0 0 10;
	font-size: 150%;
}

.error{
	border-color: red;
}