<section id="content" class="row" style="padding-top: 55px;">
	<div class="col-12">
		<h1>¡Felicidades tenés una mascota nueva!</h1>
		<br><br><br><br>
		<form id="petForm" novalidate>
			<h3>¿Cuál es el nombre de tu nueva mascota? : </h3>
			<br>
			<input type="text" ng-model="newPet.name" placeholder="Nombre">
			<br><br><br><br>
			<h3>Perfecto! Tu mascota se llama ¡{{newPet.name}}! <br><br>Y ¿Cómo te gustaría que la llamen? (Nickname)</h3>
			<br>
			<input type="text" ng-model="newPet.nickname" placeholder="Nickname">
			<br><br><br><br>
			<h3>¿Qué tipo de animal es? (Perro, gato, tortuga, roedor, etc.): </h3>
			<br>
			<input type="text" ng-model="newPet.animal_group" placeholder="Perro, gato, reptil, roedor, etc.">
			<br><br><br><br>
			<h3>¿Cuál es el día de su cumpleaños?</h3>
			<br>
			<input type="date" ng-model="newPet.dob">
			<br><br><br><br>
			<h3>Por último indicá su género: </h3>
			<br>
			<input type="radio" ng-model="newPet.gender" value="masculino" style="width=auto; height:auto"><label>Masculino</label><br>
			<input type="radio" ng-model="newPet.gender" value="femenino" style="width=auto; height:auto"><label>Femenino</label>
			<br><br><br><br>
			<h2>Listo!</h2><br>
			<h3>Tu mascota ya está registrada,<br> ¡Que la disfrutes!</h3>
			<br><br>
			<input type="submit" ng-click="createPet(newPet)" value="Ok!">
		</form>
	</div>
</section>